body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 5px;
}

section {
    padding: 20px;
    margin: 20px 0;
}

section h2 {
    color: #333;
}



section.steps {
    background-color: #ccc;
}

@media screen and (min-width: 1024px) {
    section.steps {
        background-image: url("coffee-yin-yang.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
    }
}

@media screen and (max-width: 1024px) {
    div.img-holder {
        min-width: 525px;
        min-height: 360px;
        background-image: url("coffee-yin-yang.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
    }
}

div.center-text {
    width:  50%;
    min-width: 525px;
}

div.right-col-1 {
}

ol, ul {
    list-style-position: inside;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

